<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.aiassistant.dao.AiAssistantKnMapper">

    <select id="selectListByAssistantId" resultType="com.github.aiassistant.entity.AiAssistantKn">
        select *
        from ai_assistant_kn
        where assistant_id = #{arg0}
    </select>
</mapper>
