<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.aiassistant.dao.AiMemoryMessageToolMapper">
    <insert id="insertBatchSomeColumn" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `ai_memory_message_tool`
        (`ai_memory_id`,`ai_memory_message_id`,`id`,`tool_arguments`,`tool_name`,`tool_request_id`)
        VALUES
        <foreach collection="arg0" item="item" open="" separator="," close="">
            (
            #{item.aiMemoryId}, #{item.aiMemoryMessageId}, #{item.id}, #{item.toolArguments}, #{item.toolName},
            #{item.toolRequestId}
            )
        </foreach>
    </insert>

    <select id="selectListByMessageIds" resultType="com.github.aiassistant.entity.AiMemoryMessageTool">
        SELECT * FROM `ai_memory_message_tool` WHERE `ai_memory_message_id` IN
        <foreach collection="arg0" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>
