<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.aiassistant.dao.AiMemoryMessageMetadataMapper">
    <insert id="insertBatchSomeColumn" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `ai_memory_message_metadata`
        (`again_user_query_trace_number`,`ai_memory_id`,`ai_memory_message_id`,`id`,`meta_index`,`meta_key`,`meta_value`,`root_user_query_trace_number`,`user_query_trace_number`)
        VALUES
        <foreach collection="arg0" item="item" open="" separator="," close="">
            (
            #{item.againUserQueryTraceNumber},  #{item.aiMemoryId},  #{item.aiMemoryMessageId},  #{item.id},  #{item.metaIndex},  #{item.metaKey},  #{item.metaValue},  #{item.rootUserQueryTraceNumber},  #{item.userQueryTraceNumber}
            )
        </foreach>
    </insert>

    <select id="selectListByChatId" resultType="com.github.aiassistant.entity.AiMemoryMessageMetadata">
        select ammm.*
        from ai_memory_message_metadata ammm
        where ammm.ai_memory_id in
              (
                  select ai_memory_id from ai_chat where id = #{arg0}
              )
    </select>

</mapper>
