<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.aiassistant.dao.AiMemoryMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `ai_memory`
        (`ai_char_length`,`ai_token_count`, `create_time`,`id`,`update_time`,`user_char_length`,`user_token_count`)
        VALUES
            (
            #{aiCharLength},  #{aiTokenCount},  #{createTime},  #{id},   #{updateTime},  #{userCharLength},  #{userTokenCount}
        )
    </insert>
    <update id="updateTokens">
        update `ai_memory`
        set `user_token_count` = `user_token_count` + #{arg1},
        `ai_token_count` = `ai_token_count` + #{arg2},

        `user_char_length` = `user_char_length` + #{arg3},
        `ai_char_length` = `ai_char_length` + #{arg4},

        `update_time` = #{arg5}
        where id = #{arg0}
    </update>
</mapper>
