<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <mappers>
        <mapper resource="mybatis3/mappers/AIAssistantFewshotMapper.xml"/>
        <mapper resource="mybatis3/mappers/AIAssistantJsonschemaMapper.xml"/>
        <mapper resource="mybatis3/mappers/AIAssistantKnMapper.xml"/>
        <mapper resource="mybatis3/mappers/AIAssistantMstateMapper.xml"/>
        <mapper resource="mybatis3/mappers/AIChatAbortMapper.xml"/>
        <mapper resource="mybatis3/mappers/AIChatHistoryMapper.xml"/>
        <mapper resource="mybatis3/mappers/AIChatMapper.xml"/>
        <mapper resource="mybatis3/mappers/AIChatWebsearchMapper.xml"/>
        <mapper resource="mybatis3/mappers/AIEmbeddingMapper.xml"/>
        <mapper resource="mybatis3/mappers/AIMemoryErrorMapper.xml"/>
        <mapper resource="mybatis3/mappers/AIMemoryMapper.xml"/>
        <mapper resource="mybatis3/mappers/AIMemoryMessageMapper.xml"/>
        <mapper resource="mybatis3/mappers/AIMemoryMessageToolMapper.xml"/>
        <mapper resource="mybatis3/mappers/AIMemoryMstateMapper.xml"/>
        <mapper resource="mybatis3/mappers/AIQuestionClassifyMapper.xml"/>
        <mapper resource="mybatis3/mappers/AIToolMapper.xml"/>
        <mapper resource="mybatis3/mappers/AIToolParameterMapper.xml"/>
        <mapper resource="mybatis3/mappers/AIVariablesMapper.xml"/>
        <mapper resource="mybatis3/mappers/AiQuestionClassifyAssistantMapper.xml"/>
        <mapper resource="mybatis3/mappers/AiMemoryMessageKnMapper.xml"/>
        <mapper resource="mybatis3/mappers/AiChatWebsearchResultMapper.xml"/>
        <mapper resource="mybatis3/mappers/AiChatReasoningMapper.xml"/>
        <mapper resource="mybatis3/mappers/AiChatReasoningPlanMapper.xml"/>
        <mapper resource="mybatis3/mappers/AiChatClassifyMapper.xml"/>
        <mapper resource="mybatis3/mappers/AiAssistantMapper.xml"/>
    </mappers>
    
</configuration>