<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.aiassistant.dao.AiToolParameterMapper">

    <select id="selectListByToolId" resultType="com.github.aiassistant.entity.AiToolParameter">
        select *
        from ai_tool_parameter
        where ai_tool_id in
        <foreach collection="arg0" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>
